{% extends "base1.html" %}
{% block content %}

<html lang="en">

<head>
  <title>Employee Details</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
</head>


  <header>
    <!-- place navbar here -->
    
  </header>
<body>
  <main>

  <h3>Employee details</h3>
  <table id="data_table" class="table">
    <thead>
    <tr>
        <th> user id </th>
        <th> first name </th>
        <th> last name </th>
        <th>age </th>
        <th> gender</th>
        <th> email </th>
        <th> contact </th>
        <th>ref</th>
    </tr>
  </thead>
    {% for i in emps %}
    <tr>
        <td> {{i.emp_id}}</td>
        <td> {{i.firstname}}</td>
        <td> {{i.lastname}}</td>
        <td> {{i.age}}</td>
        <td> {{i.gender}}</td>
        <td> {{i.email}}</td>
        <td> {{i.contact}}</td> 
        <td> {{i.user_id}}</td> 
    </tr>    
    {% endfor %}
</table>

  </main>



  <footer>
    <!-- place footer here -->
  </footer>


  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>


    <script >$(document).ready( function () { $('#data_table').DataTable(); });</script>
</body>

</html>
{% endblock %}






















































