{% extends "base.html" %}
{% block content %}

<!doctype html>
<html lang="en">

<head>
  <title>Leave Structure</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->

  <h3>leave Structure</h3>


<table class="table">
  <tr>
    <th>employee id </th>
    <th>employee name </th>
    <th>date of joining </th>
    <th> leaves consumed </th>
    <th>levaves remaining </th>
    <th>total leaves</th>
    <th>loss of pay</th>
  </tr>
  <tr>
    {% for i in employee%}
    <td>{{i.emp_id}}</td>
    <td>{{i.firstname}}{{i.lastname}}</td>
    {% endfor %}
  
    {% for i in employeeDetails%}
  <td>{{i.date_of_join}}</td>
    {% endfor %}

    {% for i in levaveStructure%}
    <td> {{i.leaves_consume}}</td>
    <td> {{i.leaves_remain}}</td>
    <td> {{i.total_leaves}}</td>
    {% endfor %}


  </tr>
 

</table>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
{% endblock %}