<!doctype html>
<html lang="en">

<head>
  <title>Leave Structure</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <style>
    .nav-item{
      background-color: rgb(126, 150, 245);
              padding:5px;
              border-radius: 50px;
              padding-left: 50px;
              padding-right: 50px;
              margin-top: 20px;
              margin-bottom: 20px;
              margin-right: 20px;
              margin-left: 20px;
              border:none
    }
    
   
  </style>
  

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SmallDay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/employee">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaveStructure">leave Structure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaveApplication">leave Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h3>leave Structure</h3>


<table class="table">
  <tr>
    <th>employee id </th>
    <th>employee name </th>
    <th>date of joining </th>
    <th> leaves consumed </th>
    <th>levaves remaining </th>
    <th>total leaves</th>
    <th>leave status</th>
  </tr>
  <tr>
    {% for i in emp%}
    <td>{{i.emp_id}}</td>
    <td>{{i.firstname}}{{i.lastname}}</td>
    {% endfor %}
  
    {% for i in empdet%}
  <td>{{i.date_of_join}}</td>
    {% endfor %}

    {% for i in levstr%}
    <td> {{i.leaves_consume}}</td>
    <td> {{i.leaves_remain}}</td>
    <td> {{i.total_leaves}}</td>
    {% endfor %}

    {% for i in levfor%}
    <td> {{i.leave_status}}</td>
    {% endfor %}

  </tr>
 

</table>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>